<div class='row'>
  <div class='col-md-12 page-header'>
    <h2><%= t('clients.clients') %></h2>
  </div>
  <%= render partial: 'form', locals: {
    form: form,
    url: url,
    method: :post
  } %>
</div>